{% load static %}
<!DOCTYPE html>
<html lang="zxx">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      {% include "css.html" %}
   </head>
   <body class="crm_body_bg">
      {% include "sidebar.html" %}
      <section class="main_content dashboard_part large_header_bg">
         <div class="container-fluid g-0">
            <div class="row">
               <div class="col-lg-12 p-0 ">
                  {% include "header.html" %}
               </div>
            </div>
         </div>
         <div class="main_content_iner ">
            <div class="container-fluid p-0 sm_padding_15px">
               <div class="row justify-content-center">
                  <div class="col-lg-6">
                     <div class="white_card card_height_100 mb_30">
                        <div class="white_card_header">
                           <div class="box_header m-0">
                              <div class="main-title">
                                 <h3 class="m-0">Add New Category</h3>
                              </div>
                           </div>
                        </div>
                        <div class="white_card_body">
                           <h6 class="card-subtitle mb-2">Fill Details<h7 style="color: red;">*</h7></h6>
                           <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                               <label class="form-label" for="name">Category Name</label>
                               <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="mb-3">
                               <label class="form-label" for="description">Description</label>
                               <textarea class="form-control" id="description" name="description" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                         </form>                        
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {% include "footer.html" %}
      </section>
      {% include "chatwithus.html" %}
      <div id="back-top" style="display: none;">
         <a title="Go to Top" href="#">
         <i class="ti-angle-up"></i>
         </a>
      </div>
      {% include "js.html" %}
   </body>
</html>