{% load static %}

<!-- login -->

<!-- Register -->

<!-- <script src="{%static 'js/jquery1-3.4.1.min.js' %}"></script>

<script src="{%static 'js/popper1.min.js' %}"></script>

<script src="{%static 'js/bootstrap1.min.js' %}"></script> -->

<!-- <script src="{%static 'js/metisMenu.js' %}"></script> -->

<!-- <script src="{%static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script> -->
<!-- <script src="{%static 'vendors/scroll/scrollable-custom.js' %}"></script> -->

<!-- <script src="{%static 'js/custom.js' %}"></script> -->


<!-- users -->

<!-- <script src="js/jquery1-3.4.1.min.js"></script>

<script src="js/popper1.min.js"></script> 

<script src="js/bootstrap1.min.js"></script>

<script src="js/metisMenu.js"></script>

<script src="vendors/datatable/js/jquery.dataTables.min.js"></script>
<script src="vendors/datatable/js/dataTables.responsive.min.js"></script>
<script src="vendors/datatable/js/dataTables.buttons.min.js"></script>
<script src="vendors/datatable/js/buttons.flash.min.js"></script>
<script src="vendors/datatable/js/jszip.min.js"></script>
<script src="vendors/datatable/js/pdfmake.min.js"></script>
<script src="vendors/datatable/js/vfs_fonts.js"></script>
<script src="vendors/datatable/js/buttons.html5.min.js"></script>
<script src="vendors/datatable/js/buttons.print.min.js"></script>

<script src="vendors/scroll/perfect-scrollbar.min.js"></script>
<script src="vendors/scroll/scrollable-custom.js"></script>

<script src="js/custom.js"></script> -->


<!-- main -->


<script src="{% static 'js/jquery1-3.4.1.min.js' %}"></script>

<script src="{% static 'js/popper1.min.js' %}"></script>

<script src="{% static 'js/bootstrap1.min.js' %}"></script>

<script src="{% static 'js/metisMenu.js' %}"></script>

<script src="{% static 'vendors/count_up/jquery.waypoints.min.js' %}"></script>

<script src="{% static 'vendors/chartlist/Chart.min.js' %}"></script>

<script src="{% static 'vendors/count_up/jquery.counterup.min.js' %}"></script>

<script src="{% static 'vendors/niceselect/js/jquery.nice-select.min.js' %}"></script>

<script src="{% static 'vendors/owl_carousel/js/owl.carousel.min.js' %}"></script>

<script src="{% static 'vendors/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatable/js/buttons.print.min.js' %}"></script>

<script src="{% static 'vendors/datepicker/datepicker.js' %}"></script>
<script src="{% static 'xendors/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'vendors/datepicker/datepicker.custom.js' %}"></script>
<script src="{% static 'js/chart.min.js' %}"></script>
<script src="{% static 'vendors/chartjs/roundedBar.min.js' %}"></script>

<script src="{% static 'vendors/progressbar/jquery.barfiller.js' %}"></script>

<script src="{% static 'vendors/tagsinput/tagsinput.js' %}"></script>

<script src="{% static 'vendors/text_editor/summernote-bs4.js' %}"></script>
<script src="{% static 'vendors/am_chart/amcharts.js' %}"></script>

<script src="{% static 'vendors/scroll/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'vendors/scroll/scrollable-custom.js' %}"></script>

<script src="{% static 'vendors/vectormap-home/vectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'vendors/vectormap-home/vectormap-world-mill-en.js' %}"></script>

<script src="{% static 'vendors/apex_chart/apex-chart2.js' %}"></script>
<script src="{% static 'vendors/apex_chart/apex_dashboard.js' %}"></script>
<script src="{% static 'vendors/echart/echarts.min.js' %}"></script>
<script src="{% static 'vendors/chart_am/core.js' %}"></script>
<script src="{% static 'vendors/chart_am/charts.js' %}"></script>
<script src="{% static 'vendors/chart_am/animated.js' %}"></script>
<script src="{% static 'vendors/chart_am/kelly.js' %}"></script>
<script src="{% static 'vendors/chart_am/chart-custom.js' %}"></script>

<script src="{% static 'js/dashboard_init.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>